In [7]:
import pandas as pd

In [8]:
file_path = 'WA_Fn-UseC_-Telco-Customer-Churn.csv'
data = pd.read_csv(file_path)
 
print(data.head())

   customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0  7590-VHVEG  Female              0     Yes         No       1           No
1  5575-GNVDE    Male              0      No         No      34          Yes
2  3668-QPYBK    Male              0      No         No       2          Yes
3  7795-CFOCW    Male              0      No         No      45           No
4  9237-HQITU  Female              0      No         No       2          Yes

      MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
0  No phone service             DSL             No  ...               No
1                No             DSL            Yes  ...              Yes
2                No             DSL            Yes  ...               No
3  No phone service             DSL            Yes  ...              Yes
4                No     Fiber optic             No  ...               No

  TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
0          No          No              No  Month-to-month              Yes
1          No          No              No        One year               No
2          No          No              No  Month-to-month              Yes
3         Yes          No              No        One year               No
4          No          No              No  Month-to-month              Yes

               PaymentMethod MonthlyCharges  TotalCharges Churn
0           Electronic check          29.85         29.85    No
1               Mailed check          56.95        1889.5    No
2               Mailed check          53.85        108.15   Yes
3  Bank transfer (automatic)          42.30       1840.75    No
4           Electronic check          70.70        151.65   Yes

[5 rows x 21 columns]

In [9]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB
None

In [11]:
data['TotalCharges'] = pd.to_numeric(data['TotalCharges'], errors='coerce')

data_cleaned = data.dropna(subset=['TotalCharges'])

In [12]:
churn_rate = data_cleaned['Churn'].value_counts(normalize=True) * 100
print(churn_rate)

Churn
No     73.421502
Yes    26.578498
Name: proportion, dtype: float64

In [13]:
gender_churn = data_cleaned.groupby('gender')['Churn'].value_counts(normalize=True).unstack() * 100
print(gender_churn)

Churn          No        Yes
gender
Female  73.040482  26.959518
Male    73.795435  26.204565

In [14]:
senior_churn = data_cleaned.groupby('SeniorCitizen')['Churn'].value_counts(normalize=True).unstack() * 100
print(senior_churn)

Churn                 No        Yes
SeniorCitizen
0              76.349745  23.650255
1              58.318739  41.681261

In [15]:
partner_churn = data_cleaned.groupby('Partner')['Churn'].value_counts(normalize=True).unstack() * 100
dependents_churn = data_cleaned.groupby('Dependents')['Churn'].value_counts(normalize=True).unstack() * 100
print(partner_churn)
print(dependents_churn)

Churn           No        Yes
Partner
No       67.023908  32.976092
Yes      80.282935  19.717065
Churn              No        Yes
Dependents
No          68.720860  31.279140
Yes         84.468795  15.531205

In [16]:
contract_churn = data_cleaned.groupby('Contract')['Churn'].value_counts(normalize=True).unstack() * 100
print(contract_churn)

Churn                  No        Yes
Contract
Month-to-month  57.290323  42.709677
One year        88.722826  11.277174
Two year        97.151335   2.848665

In [17]:
internet_service_churn = data_cleaned.groupby('InternetService')['Churn'].value_counts(normalize=True).unstack() * 100
print(internet_service_churn)

Churn                   No        Yes
InternetService
DSL              81.001656  18.998344
Fiber optic      58.107235  41.892765
No               92.565789   7.434211

In [18]:
data_cleaned['tenure_group'] = pd.cut(data_cleaned['tenure'], bins=[0, 12, 24, 48, 60, 72], labels=['0-12', '12-24', '24-48', '48-60', '60-72'])

tenure_churn = data_cleaned.groupby('tenure_group')['Churn'].value_counts(normalize=True).unstack() * 100
print(tenure_churn)

Churn                No        Yes
tenure_group
0-12          52.321839  47.678161
12-24         71.289062  28.710938
24-48         79.611041  20.388959
48-60         85.576923  14.423077
60-72         93.390192   6.609808

C:\Users\HP\AppData\Local\Temp\ipykernel_63552\1724116080.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned['tenure_group'] = pd.cut(data_cleaned['tenure'], bins=[0, 12, 24, 48, 60, 72], labels=['0-12', '12-24', '24-48', '48-60', '60-72'])

In [19]:
payment_method_churn = data_cleaned.groupby('PaymentMethod')['Churn'].value_counts(normalize=True).unstack() * 100
print(payment_method_churn)

Churn                             No        Yes
PaymentMethod
Bank transfer (automatic)  83.268482  16.731518
Credit card (automatic)    84.746877  15.253123
Electronic check           54.714588  45.285412
Mailed check               80.798005  19.201995

In [20]:
avg_monthly_charges = data_cleaned.groupby('Churn')['MonthlyCharges'].mean()
avg_total_charges = data_cleaned.groupby('Churn')['TotalCharges'].mean()
print(avg_monthly_charges)
print(avg_total_charges)

Churn
No     61.307408
Yes    74.441332
Name: MonthlyCharges, dtype: float64
Churn
No     2555.344141
Yes    1531.796094
Name: TotalCharges, dtype: float64

In [21]:
online_security_churn = data_cleaned.groupby('OnlineSecurity')['Churn'].value_counts(normalize=True).unstack() * 100
tech_support_churn = data_cleaned.groupby('TechSupport')['Churn'].value_counts(normalize=True).unstack() * 100
streaming_churn = data_cleaned.groupby('StreamingTV')['Churn'].value_counts(normalize=True).unstack() * 100
print(online_security_churn)
print(tech_support_churn)
print(streaming_churn)

Churn                       No        Yes
OnlineSecurity
No                   58.221333  41.778667
No internet service  92.565789   7.434211
Yes                  85.359801  14.640199
Churn                       No        Yes
TechSupport
No                   58.352535  41.647465
No internet service  92.565789   7.434211
Yes                  84.803922  15.196078
Churn                       No        Yes
StreamingTV
No                   66.464934  33.535066
No internet service  92.565789   7.434211
Yes                  69.885313  30.114687