In [2]:
import pandas as pd
import numpy as np

### Data Loading

In [3]:
Cwc_dt = pd.read_csv('Criminal Activities in India\crime_women_children\crime_against_children_(State-UT-wise)_2019-2021.csv')
Cwc_dt.head()

,S.No,State/UT,Name,2019,2020,2021,midPopulation,RateofCrimeAgainstChildren,ChargesSheetingRate
0,1,State,Andhra Pradesh,2524,2648,2669,151.1,17.7,93.2
1,2,State,Arunachal Pradesh,153,113,162,5.9,27.5,69.6
2,3,State,Assam,6608,4622,5282,120.8,43.7,56.0
3,4,State,Bihar,9320,6591,6894,475.0,14.5,68.9
4,5,State,Chhattisgarh,5665,5056,6001,97.5,61.6,70.4

In [4]:
Cwc_dt_1 = pd.read_csv('Criminal Activities in India\crime_women_children\crime_against_women_(State-UT-wise)_2019-2021.csv')
Cwc_dt_1.head()

,S.No,State/UT,Name,2019,2020,2021,midPopulation,RateofCrimeAgainstWomen,ChargesSheetingRate
0,1,State,Andhra Pradesh,17746,17089,17752,264.2,67.2,93.5
1,2,State,Arunachal Pradesh,317,281,366,7.5,49.1,77.6
2,3,State,Assam,30025,26352,29046,172.6,168.3,52.9
3,4,State,Bihar,18587,15359,17950,593.7,30.2,69.4
4,5,State,Chhattisgarh,7689,7385,7344,147.6,49.8,88.5

In [5]:
Mc_dt = pd.read_csv('Criminal Activities in India\murder_cases\murder_cases_(State-UT-wise)_2019-2021.csv')
Mc_dt.head()

,S.No,State/UT,Name,2019,2020,2021,midPopulation,RateofMurder,ChargesSheetingRate
0,1,State,Andhra Pradesh,870,853,956,528.5,1.8,91.7
1,2,State,Arunachal Pradesh,60,45,49,15.4,3.2,78.9
2,3,State,Assam,1235,1131,1192,351.6,3.4,46.8
3,4,State,Bihar,3138,3150,2799,1237.0,2.3,90.0
4,5,State,Chhattisgarh,913,972,1007,296.1,3.4,92.4

In [6]:
Mc_dt_1 = pd.read_csv('Criminal Activities in India/murder_cases/victims_of_murder_(Gender_Age_Group-wise)_2021.csv')
Mc_dt_1.head()

   S.No               Name  Male  Female  Trans  Total Age Status
0     1     Andhra Pradesh     5      10      0     15  <6  Child
1     2  Arunachal Pradesh     0       0      0      0  <6  Child
2     3              Assam     3       2      0      5  <6  Child
3     4              Bihar     6       3      0      9  <6  Child
4     5       Chhattisgarh    15       5      0     20  <6  Child

In [7]:
Tc_dt = pd.read_csv('Criminal Activities in India/total_crimes/IPC_crimes_(City-wise)_2019-2021.csv')
Tc_dt.head()

,S.No,City,2019,2020,2021,Population,RateofCognizableCrimes,ChargesSheetingRate
0,1,Agra,6510,6285,5665,17.5,324.5,58.0
1,2,Allahabad,5621,5455,4130,12.2,339.4,68.2
2,3,Amritsar,2589,3178,3349,11.8,282.9,54.8
3,4,Asansol,4244,4335,4864,12.4,391.3,95.8
4,5,Aurangabad,5636,6248,7366,11.9,619.5,82.6

In [8]:
Tc_dt_1 = pd.read_csv('Criminal Activities in India/total_crimes/IPC_crimes_(State-UT-wise)_2019-2021.csv')
Tc_dt_1.head()

,S.No,State/UT,Name,2019,2020,2021,midPopulation,RateofCognizableCrimes,ChargesSheetingRate
0,1,State,Andhra Pradesh,119229,188997,179611,528.5,339.9,92.9
1,2,State,Arunachal Pradesh,2590,2244,2626,15.4,170.9,51.7
2,3,State,Assam,123512,111558,119883,351.6,341.0,38.2
3,4,State,Bihar,197935,194698,186006,1237.0,150.4,70.5
4,5,State,Chhattisgarh,61256,65216,70519,296.1,238.2,80.2

In [9]:
Tc_dt_2 = pd.read_csv('Criminal Activities in India/total_crimes/Total_Complaints_Received_2019-2021.csv')
Tc_dt_2.head()

,TypeofComplaints,#ofComplaints,#ofFIRs,#ofOnlineFIRS
0,Oral Complaints,8585351,690094,0
1,Narrated to O/C / SHO,930369,621456,0
2,Distress call over phone/Dial 100 etc,7654982,68638,0
3,Written Complaints,8894954,5220773,185443
4,To O/C / SHO,4709804,3496161,0

In [10]:
Vc_dt = pd.read_csv('Criminal Activities in India/violent_crimes/kidnapping_abduction_(State-UT-wise)_2019-2021.csv')
Vc_dt.head()

,S.No,State/UT,Name,2019,2020,2021,midPopulation,RateofKidnappingAbduction,ChargesSheetingRate
0,1,State,Andhra Pradesh,902,737,835,528.5,1.6,71.8
1,2,State,Arunachal Pradesh,117,78,85,15.4,5.5,37.3
2,3,State,Assam,9432,6934,7580,351.6,21.6,30.3
3,4,State,Bihar,10707,7889,10198,1237.0,8.2,53.8
4,5,State,Chhattisgarh,2638,2008,2681,296.1,9.1,36.7

In [11]:
Vc_dt_1 = pd.read_csv('Criminal Activities in India/violent_crimes/violent_crimes_(State-UT-wise)_2021.csv')
Vc_dt_1.head()

,S.No,State/UT,Name,2019,2020,2021,midPopulation,RateofViolentCrimes,ChargesSheetingRate
0,1,State,Andhra Pradesh,7670,6683,7215,528.5,13.7,89.1
1,2,State,Arunachal Pradesh,678,414,492,15.4,32.0,57.7
2,3,State,Assam,28696,25629,26933,351.6,76.6,42.4
3,4,State,Bihar,45004,51116,43780,1237.0,35.4,78.1
4,5,State,Chhattisgarh,7823,8033,8458,296.1,28.6,76.0

 ### Find and Replace Null Values

In [12]:
Cwc_dt.isna().sum()

S.No                          0
State/UT                      0
Name                          0
2019                          0
2020                          0
2021                          0
midPopulation                 0
RateofCrimeAgainstChildren    0
ChargesSheetingRate           0
dtype: int64

In [13]:
Cwc_dt_1.isna().sum()

S.No                       0
State/UT                   0
Name                       0
2019                       0
2020                       0
2021                       0
midPopulation              0
RateofCrimeAgainstWomen    0
ChargesSheetingRate        0
dtype: int64

In [14]:
Mc_dt.isna().sum()

S.No                   0
State/UT               0
Name                   0
2019                   0
2020                   0
2021                   0
midPopulation          0
RateofMurder           0
ChargesSheetingRate    0
dtype: int64

In [15]:
Mc_dt_1.isna().sum()

S.No      0
Name      0
Male      0
Female    0
Trans     0
Total     0
Age       0
Status    0
dtype: int64

In [16]:
Tc_dt.isna().sum()

S.No                      0
City                      0
2019                      0
2020                      0
2021                      0
Population                0
RateofCognizableCrimes    0
ChargesSheetingRate       0
dtype: int64

In [17]:
Tc_dt_1.isna().sum()

S.No                      0
State/UT                  0
Name                      0
2019                      0
2020                      0
2021                      0
midPopulation             0
RateofCognizableCrimes    0
ChargesSheetingRate       0
dtype: int64

In [25]:
Tc_dt_2.isnull().sum()

TypeofComplaints    0
#ofComplaints       0
#ofFIRs             0
#ofOnlineFIRS       0
dtype: int64

In [23]:
Vc_dt.isnull().sum()

S.No                         0
State/UT                     0
Name                         0
2019                         0
2020                         0
2021                         0
midPopulation                0
RateofKidnappingAbduction    0
ChargesSheetingRate          0
dtype: int64

In [24]:
Vc_dt_1.isnull().sum()

S.No                   0
State/UT               0
Name                   0
2019                   0
2020                   0
2021                   0
midPopulation          0
RateofViolentCrimes    0
ChargesSheetingRate    0
dtype: int64

In [28]:
Cwc_dt.duplicated().sum()

0

In [27]:
Cwc_dt_1.duplicated().sum()

0

In [29]:
Mc_dt.duplicated().sum()

0

In [30]:
Mc_dt_1.duplicated().sum()

0

In [31]:
Vc_dt.duplicated().sum()

0

In [32]:
Vc_dt_1.duplicated().sum()

0

In [34]:
 Tc_dt.duplicated().sum()

0

In [35]:
Tc_dt_1.duplicated().sum()

0

In [36]:
Tc_dt_2.duplicated().sum()

0